@use 'reset';
@use 'comments';

$color-primary: #34C924;
$color-info: #008000;

.news-wrapper{
    margin: 40px auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 767px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.news-title{
    color: $color-primary;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}
.news-info{
    color: $color-info;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-weight: 400;
}
.original-link{
    text-decoration: none;
    color: $color-primary;
}
.back-link{
    text-decoration: none;
    color: $color-primary;
}