$color-title: #34C924;
$color-info: #008000;
$bg-color: #1d1b1b;

.news-item-container{
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 10px;
}
.news-item__title{
    color: $color-title;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    line-height: 1.5;
}
.news-item-info{
    color: $color-info;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-weight: 400;
}
