@use "reset";
@use "header";
@use "news-list";

$color-btn: #00ff00;
$bg-color: #111111;
$btn-bg-color: #1d1b1b;

body {
  height: 100vh;
  background-color: $bg-color;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 767px;
  position: relative;
}

.news-list-container {
  padding-top: 20vh;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.update-btn {
  width: 30px;
  cursor: pointer;
  margin-top: 5rem;
  right: 20px;
  position: absolute;
}

.more-btn {
  background-color: $btn-bg-color;
  color: $color-btn;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  cursor: pointer;
  margin-bottom: 4vh;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  &::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $color-btn;
    border-color: $color-btn transparent $color-btn transparent;
    -webkit-animation: lds-dual-ring 1.2s linear infinite;
            animation: lds-dual-ring 1.2s linear infinite;
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 565px;
  }
}

@media screen and (max-width: 565px) {
  .wrapper {
    max-width: 320px;
  }
  .more-btn {
    font-size: 0.9rem;
  }
  
}